<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/add">Add an address</a><br />
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone#</th>
        <th>e-mail</th>
        <td>Actions</td>
    </tr>
    <tr th:each="address :${addresses}">
        <td th:text="${address.firstName}"></td>
        <td th:text="${address.lastName}"></td>
        <td th:text="${address.addr}"></td>
        <td th:text="${address.phoneNumber}"></td>
        <td th:text="${address.email}"></td>
        <td>
            <a th:href="@{/update/{id} (id=${address.id})}">Update</a>
            <a th:href="@{/detail/{id} (id=${address.id})}">Details</a>
            <a th:href="@{/delete/{id} (id=${address.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>